<h1><%= @title %></h1>
<p>T4T Administrators have these responsibilities:</p>
<p>
  <ul>
    <li>To help build the list of training categories, and to check that category submissions from users
        are accurate, consistent, and not duplicates.
    </li>
    <li>To update the User records with brief, clear notes on any interactions with T4T members.</li>
    <li>To deal with claims that tickets taken by customer did not result in a sale - recrediting the
        vendor account where appropriate.</li>
    <li>To monitor affiliate results, and to lead sales drives.</li>
    <li>To handle and respond to questions and complaints from users.</li>
  </ul>
</p>
<p><i>- MORE TO FOLLOW -</i></p>
