    <div class="two_column_right">
      <%= f.label :message, "Reject" %><br />
      <div class="notes">To reject this submission, you need to write a short note explaining why.  
          Then when you click on <i>Confirm changes</i>, your message will be sent to 
          <%= @category.user.name %> automatically.  Continue the email from this sentence:<br /><br /> 
          <i>We regret that your Category submission cannot be accepted because </i>  
      
      </div>
      <%= f.text_area:message %><br />
      <% if @category.message_sent == true %>
        <small class="loud">Message sent</small>
      <% end %> 
    </div>
