    <div class="two_column_right">
   
      <div class="notes">The submission has already been <span class="loud">rejected</span> and this
          message was emailed:  
          <br />
          <br />
        <div class="mail_quote">
          <%= render "shared/mail_category_rejection" %>
        </div>
      </div>
    </div>
