<p>Dear <%= @member.name %></p>
<p>
  Previously we rejected your Category submission - '<%= @category.submitted_name %>' in 
  the '<%= @category.submitted_group %>' group.
</p>
<p>
  But we wanted you to know that we've changed our minds, and you'll now find the category in the public
  Tickets for Training list.
</p>

<p>Best wishes<br />
   The Tickets for Training Admin Team</p>
