<p>Dear <%= @member.name %></p>
<p>
  Thank you for submitting a new Training Category to our lists - '<%= @category.category %>' in the 
  '<%= @category.target %>' group.
</p>
<p>
  We're pleased to tell you that your submission has now been authorized - you'll find it in the T4T 
  lists and you can start using it immediately.
</p>
<p>Best wishes<br />
   The Tickets for Training Admin Team</p>
