<p>Dear <%= @user.name %></p>
<p>
  Thank you for your Training Format submission - '<%= @medium %>'.
</p>
<p>
  This is just to let you know that the submission has been approved, and it's in the T4T formats list - 
  so you can start using it immediately.
</p>

<p>Best wishes<br />
   The Tickets for Training Admin Team</p>
