<p><%= @user.name %></p>
<p>
  Thank you for submitting a new Training Medium to our lists.
</p>
<p>
  We're pleased to tell you that your submission has been authorized - but with this change:
</p>
<p>
  You submitted: '<%= @original %>'.<br />
  We've changed this to: '<%= @modification %>'
</p>
<p>Best wishes<br />
   The Tickets for Training Admin Team</p>
