<p><%= @user.name %></p>
<p>Thank you for submitting '<%= @medium.medium %>' as a new Training Format.</p>
<p>Unfortunately, we can't accept your submission because <%= @medium.rejection_message %></p>
<p>Best wishes<br />
   The Tickets for Training Admin Team</p>
