<p>Hi <%= @user.name %></p>
<p>Here's your new user password:</p>
<p style="margin-left: 20px"><%= @password %></p>

<p>Note that the code is in 3 groups of characters - 3 letters in upper case, 3 letters in upper case and 3
   numbers (though the order of the groups is random).  This should help you to distinguish between the 
   figure <b>1</b>, the small letter <b>l</b> and the capital letter <b>I</b></p>
<p>After you <%= link_to "log in to your account", @url %>, then you can change the password to something
   easier for you to remember if you want to.  Just go to <i>Settings</i> on the top menu bar of any page.
</p>
<p>Best wishes <br />
  The Tickets for Training team
</p>
