    <div class="field">
      <%= f.label :authorized, "Authorize" %>&nbsp; &nbsp;
      <%= f.check_box :authorized %>    
    </div>
    <% if @medium.unauthorized? %>
      <p class="notes"> 
          To reject, leave this box unchecked, and complete the <strong>Rejection</strong> box, right. 
          <br /><br />
          Check this box to authorize and make this one of the format options.  Confirmation will generate
          and send an automatic email to the submitter, including details of any modification.
      </p>
    <% end %>
