.container {
  width: 950px;
}

body {
  background: #fff;
}

header {
  padding-top: 10px;
}

header img {
  margin: 0;
  background: #fff;
  width: 150px;
  border: none;
  background-repeat: no-repeat;
  float: left;
} 

section {
  /* margin-top: 1em; */
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 175%;
  color: #dc0800;
}

section h1 .h_tag {
  font-size: 0.5em; 
  color: #666;       
}

section h5 {
  margin-bottom: 0.5em;    
}

.header_link {
  font-size: 0.6em; 
  padding-left: 10px;  
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:visited {
  color: #069;
}

a:hover {
  color: #dc0800;
  text-decoration: underline;
}

/* Navigation */

nav {
  float: right;
  margin-right: 170px;
  display: inline;    /* line added to fix IE 6 problem */
}

nav {
  margin-top: 20px;
  /*padding: 0 0.7em; */
  white-space: nowrap;
  background: transparent url(../images/button.png);
  border: 1px solid #ddd;
  border-top: 0px;
  padding:3px 10px; 
  height: 28px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: -moz-inline-box;
  display: inline-block;
  padding: 0.2em 0;
}

* html nav ul li { display:inline; }  /* for IE 6 */
* + html nav ul li {  display: inline; }  /* for IE 7 */

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #dc0800;
}

/* Boxes */

#list_display {
  background: transparent url(../images/wg-bg.png);
  padding: 10px; 
  font-size: 0.9em;  
}

#loginfo {
  margin-top: 0;
  padding: 20px; 
  font-size: 100%; 
  color: #888;
}


#menubox {
  margin-top: 0em;
  height: 220px;
  width:  160px;
  background: transparent url(../images/wg-bg.png);
  color : black;
  border: 1px solid #ddd;
  padding:2px 8px;
  margin-bottom:0px;  
}

#menubox .title {
  color: #666;
  font-weight: bold;
  font-size: 140%;
  width: 160px;
  margin: 0 auto;
  text-align: center; 
}

#menubox ul {
  margin: 10px;
  padding: 0;     
}

#menubox ul li {
  list-style-type: none;
  padding: 0.05em 0;    
}

#rubric {
  font-size: 0.9em;
  padding: 10px;
  border: 1px solid #ddd;
  background: transparent url(../images/wg-bg.png);
  line-height: 1.3em;
}

/* #action_button {
  background: transparent url(../images/button.png);
  border: 1px solid #ddd;
  border-top: 0;
  padding:5px 10px;
} */

textarea {
  height: 8em;
  width: 20em;
}

.smallarea textarea {
  height: 4em;
  width: 20em;  
}

.two_column_right {
  width:45%;
  padding-left: 1em;
  float: right;
}

.two_column_left {
  width: 45%; 
  padding-right: 1em;
  float: left; 
}

.two_column_right_scroll {
  width:45%;
  padding-left: 1em;
  float: right;
  height: 350px;  
  overflow: auto;  
}

.actions {
  clear:both;
  padding-top: 10px;
  float:left;
}

.action_round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;    
  color: #09c;
  background: transparent url(../images/button.png);
  border: 1px solid #ddd;
  border-top: 0;
  padding:5px 10px;
  height: 35px;
}

.warn {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;    
  color: #fff;
  background-color: #dc0800;
  border: 1px solid #ddd;
  border-top: 0;
  padding:5px 10px; 
  text-align: center;
  font-weight: bold;
    
}

.redirects {
  float:right; 
  padding-top: 14px; 
  padding-right:20px;
}

.rheader_highlight {
  float:right;
  width: 25em;
  padding-bottom:10px;
  line-height: 1.2em;
  font-size:0.9em;
  color: #dc0800;  
}

.cloud {
  color: #777;
  border: 1px solid #ddd;
  padding: 10px;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* for Acts As Taggable On */
.css1 { font-size: 0.7em; }
.css2 { font-size: 0.9em; }
.css3 { font-size: 1.1em; }
.css4 { font-size: 1.3em; }

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Positioning */


/* Effects */

.loud {
  color: #dc0800;  
}


/* User show page */
.mono { 
  border: 1px solid gray;
  background-color: ivory;    
}

.profile {
  width: 100%;
  margin-bottom: 0;
}

table {
  font-size: 0.9em;    
}

td.two_col {
  width: 50%;
  padding: 1em;
  vertical-align: top;  
}

td.main {
  width: 60%;
  padding: 1em;
}

td.sidebar {
  width: 40%;
  padding: 1em;
  /*vertical-align: top;*/
  font-size: 0.9em;
  color: #666666;
  background: transparent url(../images/sea-bg.png);
  border: 1px solid #ddd;
}

.notes {
  font-size: 0.9em;
  line-height: 130%;  
}

.mail_quote  {
  border: 1px solid gray; 
  padding: 5px; 
  background-color: ivory;    
}

.description {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px; 
  background: transparent url(../images/page-bg.png);
  border: 1px solid #eee;
  border-top: 0; 
  padding: 1em;
}

.gravatar {
  margin-bottom: -15px;
  float: left;
  padding-right: 10px;
}

.caption {
  padding: 10px;
  width: 50px;    
}

div.field, div.actions {
  /*padding-bottom: 0px; 
  padding-top: 0px; */
  line-height: 1em; 
  margin-bottom: 15px;
}

.indent {
  margin-left: 30px;  
}

/* Errors */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.listing {
  margin-top: 1em;   
}

.listing li {
  list-style: none;    
}

