.container {
  width: 950px;
}

body {
  background: #fff;
}

header {
  padding-top: 10px;
}

header img {
  margin: 0;
  background: #fff;
  width: 150px;
  border: none;
  background-repeat: no-repeat;
  float: left;
} 

section {
  /* margin-top: 1em; */
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 175%;
  color: #dc0800;
}

.header_link {
  font-size: 0.6em; 
  padding-left: 10px;  
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:visited {
  color: #069;
}

a:hover {
  color: #dc0800;
  text-decoration: underline;
}

/* Navigation */

nav {
  float: right;
  margin-right: 170px;
  display: inline;    /* line added to fix IE 6 problem */
}

nav {
  margin-top: 20px;
  padding: 0 0.7em;
  white-space: nowrap;
  background: transparent url(../images/button.png);
  border: 1px solid #ddd;
  border-top: 0px;
  padding:3px 10px; 
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: -moz-inline-box;
  display: inline-block;
  padding: 0.2em 0;
}

* html nav ul li { display:inline; }  /* for IE 6 */
* + html nav ul li {  display: inline; }  /* for IE 7 */

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #dc0800;
}

/* Boxes */

#loginfo {
  margin-top: 0;
  padding: 20px; 
  font-size: 100%; 
  color: #888;
}


#menubox {
  margin-top: 0em;
  height: 200px;
  width:  160px;
  background: transparent url(../images/wg-bg.png);
  color : black;
  border: 1px solid #ddd;
  padding:2px 8px;
  margin-bottom:0px;  
}

#menubox .title {
  color: #666;
  font-weight: bold;
  font-size: 140%;
  width: 160px;
  margin: 0 auto;
  text-align: center; 
}

#menubox ul {
  margin: 10px;
  padding: 0;     
}

#menubox ul li {
  list-style-type: none;
  padding: 0.2em 0;    
}

/* #action_button {
  background: transparent url(../images/button.png);
  border: 1px solid #ddd;
  border-top: 0;
  padding:5px 10px;
} */

.two_column_right {
  width:45%;
  padding-left: 1em;
  float: right;
}

.two_column_left {
  width: 45%; 
  padding-right: 1em;
  float: left; 
}

.actions {
    padding-top: 10px;
    float:left;
}

.action_round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;    
  color: #09c;
  background: transparent url(../images/button.png);
  border: 1px solid #ddd;
  border-top: 0;
  padding:5px 10px;
}

.redirects {
  float:right; 
  padding-top: 14px; 
  padding-right:40px;  
}
/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Positioning */


/* Effects */

.loud {
  color: #dc0800;  
}


/* User show page */

.profile {
  width: 100%;
  margin-bottom: 0;
}

td.two_col {
  width: 50%;
  padding: 1em;
  vertical-align: top;  
}

td.main {
  width: 60%;
  padding: 1em;
}

td.sidebar {
  width: 40%;
  padding: 1em;
  /*vertical-align: top;*/
  font-size: 0.9em;
  color: #666666;
  background: transparent url(../images/sea-bg.png);
  border: 1px solid #ddd;
}

.notes {
  font-size: 0.9em  
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 5px;
}

/* Errors */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.listing {
  margin-top: 1em;   
}

.listing li {
  list-style: none;    
}

