<h1>Forgotten your password?</h1>


<%= form_for(:user, :url => new_password_path)  do |f| %>
  <div id="rubric" class="round">
    ... then we'll send you a new one.  Just complete your email address and click on 'Send request'.  
    By return email, we'll send you a new password so that you can log in.  You'll probably then want 
    to go to "Settings" to change the new password to something that suits you better.
  </div>
  <br />
  <div class="field">
    <%= f.label :email, "Your email" %><br />
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= submit_tag @tag_name, :class => "action_round" %>
  </div> 
<% end %>
