<h1>Sign up</h1>

<%= form_for @user do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'user', :f => f %>  
  <div class="actions">
    
    <div class="notes">
      Signing up is absolutely free, and gives you all the benefits we describe in the panel to the left.
      <br /><br />
      Make sure you understand the Terms and Conditions, then just click to Sign Up.
      <br /><br />
    </div>
    <%= submit_tag "Sign Up", :class => "action_round" %>
  </div>
<% end %>

  
