<p><%= @member.name %></p>
<p>Thank you for submitting <%= @category.category %> as a new Category in 
    the <%= @category.target %> group.</p>
<p>Unfortunately, we can't accept your submission because <%= @category.message %></p>
<p>Tickets for Training Admin Team</p>
