    <strong>Description:</strong><br />
    <div class="description">
      <%= @resource.description %>
    </div>
    <br />
    <strong>Keywords:</strong><br />
    <div id="features">
      <%= @resource.feature_list %>
    </div>
    <br /><br />
