
Associated with:<br /><br />
<ul>
  <% @user.vendors.each do |v| %>
    <li><%= link_to v.name, business_vendor_path(v), :title => "View vendor profile" %>  
        - <%= v.address %>
        <% if v.unverified? %>
          <span class="loud"> - <%= v.verification_status %></span>
        <% end %>
    </li>
  <% end %>
</ul>
