<h1><%= @title %></h1>

<div class="notes">
   Which of these five groups does your new training resource belong to?<br />  
   Select the group with the best fit, then click <i>Confirm</i>.
</div>
<br />
<%= form_tag new_vendor_resource_path(@vendor), :method => "get" do %>

  <%= render "shared/focus_list" %>
  
  <div class="actions">
    <%= submit_tag @tag_name, :name => nil, :class => "action_round" %>
  </div>
  
<% end %>


    
