<h1><%= @title %></h1>
<h4><%= @vendor.name %></h4>

<p>You've already introduced your business and promoted your products and services.<br />  
   Now it's time to give customers something to buy.</p>
    
 <p>What do you want to deal with now?</p>
 
 
 
 
 
