<h1><%= @title %></h1>
<h5>Our Mission</h5>
<p> ... is not just to give you the world's best training directory.  We aim to create a thriving, dynamic
    training market, a place where buyers and sellers of training interact - for mutual advantage.
</p> 

<div class="notes">
  <div class="two_column_left">    
    <h5>How the Tickets scheme works</h5>

       Let's suppose you have a training class starting next week, and some of the places have not yet been 
       sold.  Whether you have 12 or 16 people in the class, your costs aren't going to change much, so to
       maximize your profitability, you need to sell those extra seats.  You decide to offer the remaining 
       places at a discount. 
       <br /><br />
       But who should you target?  And how can you make the offer quickly enough, before the course begins?  
       That's where Tickets for Training has the answers.
       <br /><br />
       If you've already listed the course details in the directory, it takes just a few seconds to 
       <span class="loud">issue tickets</span>.  All you need to do is select the program, set the 
       discounted price, enter the number of tickets available, and select the preferred contact method for
       those interested. 
       <br /><br />
       Immediately T4T will identify all potential customers.  Those who have requested email alerts (most 
       will, we think), will receive instant notification of your offer, and a direct link to the T4T page
       where they can apply.  And when they're using the T4T site, the latest relevant ticket offers will be 
       displayed in a side-bar, again with page links if they want to find out more.
       <br /><br />      
  </div>
  
  <div class="two_column_right">
    <h5>Who will hear about your offer?</h5>
    
       When you enter details of a training resource, you assign it to a category and enter a number of 
       keywords.  Similarly, each user can set up to ten preferences: each preference includes a category 
       and up to 10 keywords.  Geographical location is another user criterion: they select a region, 
       or a country, or a distance from their own location.  And finally, users can keep a list of 
       favorite suppliers.
       <br /><br />
       So when you issue a ticket, T4T finds users who are looking for your resource's category and any of
       its keywords, and who are not ruled out because of their location preferences.  They'll all be 
       notified.  And so will anyone who's marked you as a favorite, even if the other criteria don't match. 
  
  </div>
</div>
