<h1>A world-wide directory of training and learning</h1>
<p>According to Google, there are nearly 25 million web searches a month including 
   the word 'training'. And if you try a search right now, you're going to find over 
   400 million results.  Talk about trying to find a needle in a haystack!
</p>
<p>
   <strong>Tickets for Training</strong> brings sense and structure to a confusing 
   market. If you're looking for training, we want to help you find exactly what you need 
   in minutes, not hours.  No matter what, where or how you want to learn.
</p>
<p> 
   But <strong>Tickets for Training</strong> is more than a directory - it's a smart new 
   concept too. Tickets help <i>sellers</i> to promote new products or programs, and to 
   maximize their return from every event.  They allow <i>buyers</i> to take advantage of 
   special discounts. And every ticket issued generates an objective <i>review</i>: we 
   want great training to get the attention it deserves.
<p>
   For the complete details, click on the buttons in the left-hand panel.  Or why 
   not experiment and <%= link_to "find training", find_training_path %> right now, to 
   get a feel for how it all works?  Then, when you're ready, <%= link_to "sign up as a 
   registered user", signup_path %><span class="loud"> FOR FREE</span> to get the most 
   out of the site.
</p>
