<h1>A world-wide directory of training and learning</h1>
<p>According to Google, there are nearly 25 million web searches a month including 
   the word 'training'. And if you try a seach right now, you're going to find over 
   400 million results.  Talk about trying to find a needle in a haystack!
</p>
<p>
   Tickets for Training brings sense and structure to a confusing market.  If you're 
   looking for training, we want to help you find exactly what you need in minutes, not 
   hours.  No matter where in the world you want to study.  Whether you want to improve 
   your professional skills or knowledge, or to master a personal hobby or interest.  
   Whether you want to study alone, or join a class, or attend a seminar.
</p>
<p> 
   But Tickets for Training is more than a directory - it's a smart new concept too. Tickets help Sellers to promote new products or programs, and to maximize their return from every event.  They allow Buyers to take advantage of special discounts. And every ticket issued generates an objective review: we want to draw attention to great training
<p>
   For the complete details, click on the buttons in the left-hand panel.  Or why 
   not experiment and Find training right now, to get a feel for how it all 
   works.  Then, when you're ready, sign up FOR FREE as a registered user to 
   get the most out of the site.
</p>
