<h1>A world-wide directory of training and learning</h1>
<p>According to Google, there are nearly 25 million web searches a month including 
   the word 'training'. And if you try a seach right now, you're going to find over 
   400 million results.  Talk about trying to find a needle in a haystack!
</p>
<p>
   Tickets for Training is our attempt to bring sense and structure into a 
   confusing market.  If you're looking for training, we want to help you find 
   exactly what you need with just a few keystrokes, instead of spending hours 
   researching.  No matter where in the world you want to study.  Whether you want 
   to improve your work-skills or professional knowledge, or to master a personal 
   hobby or interest.  Whether you want to study alone, or join a class, or attend 
   a seminar.
</p>
<p> 
   Tickets for Training introduces a smart new concept.  Sellers can use tickets to 
   offer discounts - perhaps to bring attention to a new product or program, or to 
   fill empty seats on a course.   Buyers can take advantage of the discounts, but 
   are then required to complete a short questionnaire on their training.  We 
   convert this into a numerical rating.  So then, if they wish, sellers can use 
   the number of reviews / average ratings for extra publicity.   
</p>
<p>
   For the complete details, click on the buttons in the left-hand panel.  Or why 
   not experiment by clicking on Find training right now, and you'll see how it all 
   works.  And then, when you're ready, sign up FOR FREE as a registered user to 
   get the most out of the site.
</p>
