<h1>Why register with us?</h1>
<p>
  You don't need to be a registered user to <%= link_to "Find training", 
  find_training_path %>.  Everyone is welcome to search our world listings for training 
  programs, courses, events, and resources.
</p>
<p>
  But if you're serious about training, then signing up with us will give you access 
  to tickets for training - discounted events and products only available to our 
  registered users.  When you log in, you'll see news of tickets for your special areas of 
  interest, in your region.
</p>
<p>
  You'll also need to register if you want to list the training services or products you 
  sell.  We'll also show you how to use our optional ticket scheme to help boost your 
  popularity and sales.  Register too if you'd like to promote <strong>Tickets for Training
  </strong> as an affliate - and earn money from your efforts.
</p>    
<p>
  Registration is <span class="loud">risk-free, painless and FREE</span>, so why not sign 
  up now?  Or if you want more details first, just select options from the box on 
  the left.
</p>
<%= link_to "Sign me up now", signup_path, :class => "action_round" %>

