<h1>Why register with us?</h1>
<p>
  You don't need to be a registered user if you're just looking for the right 
  training program or materials, or a training event.  Just click on Find training, 
  and you can get started right away.
</p>
<p>
  But if you're serious about training, then signing up with us will give you access 
  to tickets for training - discounted events and products only available to our 
  registered users.  When you log in, you'll also see the latest updates for your 
  special areas of interest, and in your region.
</p>
<p>
  If you sell training services or products, you'll need to register to enter all 
  your details into our database.  We'll also show you how using our optional ticket 
  scheme can help boost your popularity and sales.
</p>
<p>
  Or you may wish to help us promote Tickets for Training - and earn money from your 
  efforts.  If so, you'll need to register too - as an affiliate.
</p>
<p>
  Registration is risk-free, painless and FREE, so why not sign up and get started 
  now?  Or if you'd like more details of the benefits, just select one of the 
  options from the box on the left.
</p>
 
