
       <table>
        <tr>
          <th>Ref #</th>
          <th>Start</th>
          <th>End</th>
        </tr>
        <% collection.each do |event| %>
          <tr>
            <td><%= event.ref %></td>
            <td><%= display_date(event.start) %></td>
            <td><%= display_date(event.finish) %></td>
          </tr>
        <% end %>  
      </table> 
