    <div class="two_column_right">
   
      <div class="notes">The submission has already been <span class="loud">authorized</span> but after 
          changes were made. This message was emailed:  
          <br />
          <br />
        <div class="mail_quote">
          <%= render "shared/mail_category_acceptance_changes" %>
        </div>
      </div>
    </div>
