    <div class="two_column_right">
      <%= f.label :message, "Reject" %><br />
      <div class="notes">If you cannot approve the Category, please write a short note explaining why.  
          When you click on 'Confirm changes', any message will automatically be sent to 
          <%= @category.user.name %>.  Continue the email from this sentence:<br /><br /> 
          <i>We regret that your Category submission cannot be accepted because </i>  
      
      </div>
      <%= f.text_area:message %><br />
      <% if @category.message_sent == true %>
        <small class="loud">Message sent</small>
      <% end %> 
    </div>
