    <div class="two_column_right">
   
      <div class="notes">The submission was <span class="loud">authorized</span> without changes.  
              No email confirmation required.
      </div>
    </div>
