<h1><%= @title %></h1>
<ul class="listing">
  <% @regions.each do |region| %>
    <li>
      <%= link_to region.region, edit_admin_region_path(region.id), :title => "Edit #{region.region}" %> 
      <% unless region.has_countries? %>
        | <small><%= link_to "delete", admin_region_path(region), 
                                        :method => :delete, 
                                        :confirm => "Deleting #{region.region}. You sure?",
                                        :title => "Delete #{region.region}" %>
          </small>
      <% end %>
    </li> 
  <% end %>
</ul>
<div class="actions">
  <%= link_to "New region", new_admin_region_path, :class => "action_round" %>
</div> 

