<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.name, admin_user_path(user) %>
  <% if current_user.admin? %>
    <%= link_to "delete", admin_user_path(user), :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{user.name}" %>
  <% end %>
</li>
